@import '../styles/mixins.scss';
@import '../styles/variables.scss';


body {
	font-size: 20px;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	color: $font-color;
}

*:focus {
    outline:1px solid pink;
}
h1, h2, h3{
	text-align: center;
	font-weight: 300;
}

button{
	padding: 0.2rem;
	font-size: 0.8rem;
	font-family: 'Open Sans Condensed', Arial, sans-serif;
	color: $font-color;
	border: 1px solid #ccc;

	&:hover{
		cursor: pointer;
		color: $link-color;
    }
    
    &.btn-action{
        position: absolute;
        z-index: 1;
        top: -8px;
        right: -8px;
        width: 1.6rem;
        height: 1.6rem;
        padding: 0.2rem;
        font-family: monospace;
        font-size: 2rem;
        line-height: 1rem;
        color: #ffff;
        background: $link-color;            
        border: 1px solid $link-color;
        transition: all 0.2s ease; 

        &:hover, 
        &.-active,
        &.-close{
            color: $link-color;
            background: #fff;
            border: 1px solid $link-color;
            transform: rotate(45deg);
        }
        &.-active{
            transform: rotate(45deg);
        }
    }
}

a:hover{
  	cursor: pointer;
}

.page-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    img{
        max-width: 3rem;
        max-height: 3rem;
    }

    h1{
        margin:0 0 0 1rem;
        line-height: 1.2em;
    }
}

.grid{
	display: grid;
    grid-template-columns:repeat(12, 1fr);

    // 12 column grid layout. 
    // .grid-col-1, .grid-col-2, .grid-col-3, etc
    @for $i from 1 through 12{
        &.-col-#{$i}{
            grid-template-columns:repeat(#{$i}, 1fr);
        }
    } 

}


@for $i from 1 through 6{
	.col-#{$i}{
		grid-column: span 6;
	}
} 
@for $i from 6 through 12{
	.col-#{$i}{
		grid-column: span 12;
	}
}

@media only screen and (min-width : 768px)  {

	// 12 column grid layout. 
	// .col-1, .col-2, .col-3, etc
	@for $i from 1 through 12{
		.col-#{$i}{
			grid-column: span #{$i};
		}
	} 
}


section{
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.-hidden{
    height: 0 !important;
    visibility: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}
