
.main-nav{
    position: relative;
    width: 100%;
    padding: 0.4rem 0;
    text-align: center;
    background: rgba(84, 84, 84, 1);

    label {
        color: #fff;
        display: inline-block;

        &:hover{
            cursor: pointer;
        }
    }
    
    input[type=checkbox] {
        display: none;
        
        + nav{
            display: none;
        }

        &:checked + nav{
            display: block;
        }
    }
    
    nav{
        list-style: none;
        display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;
        
        button{
            margin: 0 0.6rem;
            color: #fff;
            background: none;
            border: 0;
            border-bottom: 1px solid #fff;
            
            &:hover{
                color: pink;
                border-bottom: 1px solid pink;
            }
        }
    }
}

