
@import '../styles/core.scss';

.team-list{
	display: flex;
	flex-flow: wrap row;
	justify-content: flex-start;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.team-list button{
	margin: 0.2rem;
	padding: 0.2rem 0.4rem;
	flex-grow: 1;
	max-width: 4.2rem;

	&.-active{
		color: $link-color;
		background: #ffddee;
		border-color: pink;
	}

	img{
		width: 3rem;
	}
}

@include breakpointSmall {
	// .team-list button{
	// 	max-width: 5rem;
	// }
}
